page-contact {

}
.info{
    font-family: 'Carter One', cursive;

    margin: 15px;
    margin-top: 10px;
    text-align: 30px;
    
    color: #2f3640;
    }
    fieldset{
        margin-top: 5px;
        border-radius: 20%;
    }



    .legnd{ 
        font-family: 'Kavivanar', cursive;
        font-size: 20px;
        color: #130f40;
        margin-left: 20px;
        
       
    }