page-lista-postos {
    button {
            align-items: baseline;
        }

}

.font1{
    font-family: 'Passion One', cursive;
}
.icon-gps{
    position: relative;
    left: -11px;
    width: 5px;
}